<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name_task %><br>
    <%= f.text_field :name_task, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, class: 'form-control'%>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>